JongTest/cartridge/webreferences/CustomerServices.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://v3_0.customer.webservices.csx.dtv.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://v3_0.customer.webservices.csx.dtv.com/" name="CustomerServicesApiService">
<types>
<xsd:schema>
<xsd:import namespace="http://v3_0.customer.webservices.csx.dtv.com/" schemaLocation="CustomerServices.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="associateCardToCustomer">
<part name="parameters" element="tns:associateCardToCustomer"></part>
</message>
<message name="associateCardToCustomerResponse">
<part name="parameters" element="tns:associateCardToCustomerResponse"></part>
</message>
<message name="RelateProcessingException">
<part name="fault" element="tns:RelateProcessingException"></part>
</message>
<message name="getCustomerNotes">
<part name="parameters" element="tns:getCustomerNotes"></part>
</message>
<message name="getCustomerNotesResponse">
<part name="parameters" element="tns:getCustomerNotesResponse"></part>
</message>
<message name="addCustomerNote">
<part name="parameters" element="tns:addCustomerNote"></part>
</message>
<message name="addCustomerNoteResponse">
<part name="parameters" element="tns:addCustomerNoteResponse"></part>
</message>
<message name="getTransactionHistory">
<part name="parameters" element="tns:getTransactionHistory"></part>
</message>
<message name="getTransactionHistoryResponse">
<part name="parameters" element="tns:getTransactionHistoryResponse"></part>
</message>
<message name="searchCustomers">
<part name="parameters" element="tns:searchCustomers"></part>
</message>
<message name="searchCustomersResponse">
<part name="parameters" element="tns:searchCustomersResponse"></part>
</message>
<message name="retrieveCustomer">
<part name="parameters" element="tns:retrieveCustomer"></part>
</message>
<message name="retrieveCustomerResponse">
<part name="parameters" element="tns:retrieveCustomerResponse"></part>
</message>
<message name="addOrUpdateCustomer">
<part name="parameters" element="tns:addOrUpdateCustomer"></part>
</message>
<message name="addOrUpdateCustomerResponse">
<part name="parameters" element="tns:addOrUpdateCustomerResponse"></part>
</message>
<message name="deleteCustomer">
<part name="parameters" element="tns:deleteCustomer"></part>
</message>
<message name="deleteCustomerResponse">
<part name="parameters" element="tns:deleteCustomerResponse"></part>
</message>
<message name="mergeCustomers">
<part name="parameters" element="tns:mergeCustomers"></part>
</message>
<message name="mergeCustomersResponse">
<part name="parameters" element="tns:mergeCustomersResponse"></part>
</message>
<message name="getAssociateAssignment">
<part name="parameters" element="tns:getAssociateAssignment"></part>
</message>
<message name="getAssociateAssignmentResponse">
<part name="parameters" element="tns:getAssociateAssignmentResponse"></part>
</message>
<message name="updateAssociateAssignment">
<part name="parameters" element="tns:updateAssociateAssignment"></part>
</message>
<message name="updateAssociateAssignmentResponse">
<part name="parameters" element="tns:updateAssociateAssignmentResponse"></part>
</message>
<message name="getItemHistory">
<part name="parameters" element="tns:getItemHistory"></part>
</message>
<message name="getItemHistoryResponse">
<part name="parameters" element="tns:getItemHistoryResponse"></part>
</message>
<message name="getVisualizerItems">
<part name="parameters" element="tns:getVisualizerItems"></part>
</message>
<message name="getVisualizerItemsResponse">
<part name="parameters" element="tns:getVisualizerItemsResponse"></part>
</message>
<message name="addWishlistItems">
<part name="parameters" element="tns:addWishlistItems"></part>
</message>
<message name="addWishlistItemsResponse">
<part name="parameters" element="tns:addWishlistItemsResponse"></part>
</message>
<message name="deleteWishlistItems">
<part name="parameters" element="tns:deleteWishlistItems"></part>
</message>
<message name="deleteWishlistItemsResponse">
<part name="parameters" element="tns:deleteWishlistItemsResponse"></part>
</message>
<message name="getCustomerImage">
<part name="parameters" element="tns:getCustomerImage"></part>
</message>
<message name="getCustomerImageResponse">
<part name="parameters" element="tns:getCustomerImageResponse"></part>
</message>
<message name="changeItemDisplayStatus">
<part name="parameters" element="tns:changeItemDisplayStatus"></part>
</message>
<message name="changeItemDisplayStatusResponse">
<part name="parameters" element="tns:changeItemDisplayStatusResponse"></part>
</message>
<message name="getPreferenceCenter">
<part name="parameters" element="tns:getPreferenceCenter"></part>
</message>
<message name="getPreferenceCenterResponse">
<part name="parameters" element="tns:getPreferenceCenterResponse"></part>
</message>
<message name="addOrUpdatePreferenceCenter">
<part name="parameters" element="tns:addOrUpdatePreferenceCenter"></part>
</message>
<message name="addOrUpdatePreferenceCenterResponse">
<part name="parameters" element="tns:addOrUpdatePreferenceCenterResponse"></part>
</message>
<message name="getPreferenceTypes">
<part name="parameters" element="tns:getPreferenceTypes"></part>
</message>
<message name="getPreferenceTypesResponse">
<part name="parameters" element="tns:getPreferenceTypesResponse"></part>
</message>
<message name="getPromotionHistoryWithDateRangeMaxResult">
<part name="parameters" element="tns:getPromotionHistoryWithDateRangeMaxResult"></part>
</message>
<message name="getPromotionHistoryWithDateRangeMaxResultResponse">
<part name="parameters" element="tns:getPromotionHistoryWithDateRangeMaxResultResponse"></part>
</message>
<message name="getPromotionHistoryWithDateRange">
<part name="parameters" element="tns:getPromotionHistoryWithDateRange"></part>
</message>
<message name="getPromotionHistoryWithDateRangeResponse">
<part name="parameters" element="tns:getPromotionHistoryWithDateRangeResponse"></part>
</message>
<message name="addOrDeleteCustomerFranchisees">
<part name="parameters" element="tns:addOrDeleteCustomerFranchisees"></part>
</message>
<message name="addOrDeleteCustomerFranchiseesResponse">
<part name="parameters" element="tns:addOrDeleteCustomerFranchiseesResponse"></part>
</message>
<portType name="CustomerServicesApi">
<operation name="associateCardToCustomer">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/associateCardToCustomerRequest" message="tns:associateCardToCustomer"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/associateCardToCustomerResponse" message="tns:associateCardToCustomerResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/associateCardToCustomer/Fault/RelateProcessingException"></fault>
</operation>
<operation name="getCustomerNotes">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getCustomerNotesRequest" message="tns:getCustomerNotes"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getCustomerNotesResponse" message="tns:getCustomerNotesResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getCustomerNotes/Fault/RelateProcessingException"></fault>
</operation>
<operation name="addCustomerNote">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/addCustomerNoteRequest" message="tns:addCustomerNote"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/addCustomerNoteResponse" message="tns:addCustomerNoteResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/addCustomerNote/Fault/RelateProcessingException"></fault>
</operation>
<operation name="getTransactionHistory">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getTransactionHistoryRequest" message="tns:getTransactionHistory"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getTransactionHistoryResponse" message="tns:getTransactionHistoryResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getTransactionHistory/Fault/RelateProcessingException"></fault>
</operation>
<operation name="searchCustomers">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/searchCustomersRequest" message="tns:searchCustomers"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/searchCustomersResponse" message="tns:searchCustomersResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/searchCustomers/Fault/RelateProcessingException"></fault>
</operation>
<operation name="retrieveCustomer">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/retrieveCustomerRequest" message="tns:retrieveCustomer"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/retrieveCustomerResponse" message="tns:retrieveCustomerResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/retrieveCustomer/Fault/RelateProcessingException"></fault>
</operation>
<operation name="addOrUpdateCustomer">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/addOrUpdateCustomerRequest" message="tns:addOrUpdateCustomer"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/addOrUpdateCustomerResponse" message="tns:addOrUpdateCustomerResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/addOrUpdateCustomer/Fault/RelateProcessingException"></fault>
</operation>
<operation name="deleteCustomer">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/deleteCustomerRequest" message="tns:deleteCustomer"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/deleteCustomerResponse" message="tns:deleteCustomerResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/deleteCustomer/Fault/RelateProcessingException"></fault>
</operation>
<operation name="mergeCustomers">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/mergeCustomersRequest" message="tns:mergeCustomers"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/mergeCustomersResponse" message="tns:mergeCustomersResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/mergeCustomers/Fault/RelateProcessingException"></fault>
</operation>
<operation name="getAssociateAssignment">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getAssociateAssignmentRequest" message="tns:getAssociateAssignment"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getAssociateAssignmentResponse" message="tns:getAssociateAssignmentResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getAssociateAssignment/Fault/RelateProcessingException"></fault>
</operation>
<operation name="updateAssociateAssignment">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/updateAssociateAssignmentRequest" message="tns:updateAssociateAssignment"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/updateAssociateAssignmentResponse" message="tns:updateAssociateAssignmentResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/updateAssociateAssignment/Fault/RelateProcessingException"></fault>
</operation>
<operation name="getItemHistory">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getItemHistoryRequest" message="tns:getItemHistory"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getItemHistoryResponse" message="tns:getItemHistoryResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getItemHistory/Fault/RelateProcessingException"></fault>
</operation>
<operation name="getVisualizerItems">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getVisualizerItemsRequest" message="tns:getVisualizerItems"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getVisualizerItemsResponse" message="tns:getVisualizerItemsResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getVisualizerItems/Fault/RelateProcessingException"></fault>
</operation>
<operation name="addWishlistItems">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/addWishlistItemsRequest" message="tns:addWishlistItems"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/addWishlistItemsResponse" message="tns:addWishlistItemsResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/addWishlistItems/Fault/RelateProcessingException"></fault>
</operation>
<operation name="deleteWishlistItems">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/deleteWishlistItemsRequest" message="tns:deleteWishlistItems"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/deleteWishlistItemsResponse" message="tns:deleteWishlistItemsResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/deleteWishlistItems/Fault/RelateProcessingException"></fault>
</operation>
<operation name="getCustomerImage">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getCustomerImageRequest" message="tns:getCustomerImage"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getCustomerImageResponse" message="tns:getCustomerImageResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getCustomerImage/Fault/RelateProcessingException"></fault>
</operation>
<operation name="changeItemDisplayStatus">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/changeItemDisplayStatusRequest" message="tns:changeItemDisplayStatus"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/changeItemDisplayStatusResponse" message="tns:changeItemDisplayStatusResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/changeItemDisplayStatus/Fault/RelateProcessingException"></fault>
</operation>
<operation name="getPreferenceCenter">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getPreferenceCenterRequest" message="tns:getPreferenceCenter"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getPreferenceCenterResponse" message="tns:getPreferenceCenterResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getPreferenceCenter/Fault/RelateProcessingException"></fault>
</operation>
<operation name="addOrUpdatePreferenceCenter">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/addOrUpdatePreferenceCenterRequest" message="tns:addOrUpdatePreferenceCenter"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/addOrUpdatePreferenceCenterResponse" message="tns:addOrUpdatePreferenceCenterResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/addOrUpdatePreferenceCenter/Fault/RelateProcessingException"></fault>
</operation>
<operation name="getPreferenceTypes">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getPreferenceTypesRequest" message="tns:getPreferenceTypes"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getPreferenceTypesResponse" message="tns:getPreferenceTypesResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getPreferenceTypes/Fault/RelateProcessingException"></fault>
</operation>
<operation name="getPromotionHistoryWithDateRangeMaxResult">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getPromotionHistoryWithDateRangeMaxResultRequest" message="tns:getPromotionHistoryWithDateRangeMaxResult"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getPromotionHistoryWithDateRangeMaxResultResponse" message="tns:getPromotionHistoryWithDateRangeMaxResultResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getPromotionHistoryWithDateRangeMaxResult/Fault/RelateProcessingException"></fault>
</operation>
<operation name="getPromotionHistoryWithDateRange">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getPromotionHistoryWithDateRangeRequest" message="tns:getPromotionHistoryWithDateRange"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getPromotionHistoryWithDateRangeResponse" message="tns:getPromotionHistoryWithDateRangeResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/getPromotionHistoryWithDateRange/Fault/RelateProcessingException"></fault>
</operation>
<operation name="addOrDeleteCustomerFranchisees">
<input wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/addOrDeleteCustomerFranchiseesRequest" message="tns:addOrDeleteCustomerFranchisees"></input>
<output wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/addOrDeleteCustomerFranchiseesResponse" message="tns:addOrDeleteCustomerFranchiseesResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v3_0.customer.webservices.csx.dtv.com/CustomerServicesApi/addOrDeleteCustomerFranchisees/Fault/RelateProcessingException"></fault>
</operation>
</portType>
<binding name="CustomerServicesApiPortBinding" type="tns:CustomerServicesApi">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="associateCardToCustomer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getCustomerNotes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="addCustomerNote">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getTransactionHistory">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="searchCustomers">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="retrieveCustomer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="addOrUpdateCustomer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteCustomer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="mergeCustomers">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAssociateAssignment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateAssociateAssignment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getItemHistory">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getVisualizerItems">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="addWishlistItems">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteWishlistItems">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getCustomerImage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="changeItemDisplayStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getPreferenceCenter">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="addOrUpdatePreferenceCenter">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getPreferenceTypes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getPromotionHistoryWithDateRangeMaxResult">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getPromotionHistoryWithDateRange">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="addOrDeleteCustomerFranchisees">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="CustomerServicesApiService">
<port name="CustomerServicesApiPort" binding="tns:CustomerServicesApiPortBinding">
<soap:address location="https://pacrelstg.pacificsunwear.com:8443/soap/PAC/v3_0/CustomerServices"></soap:address>
</port>
</service>
</definitions>