JongTest/cartridge/webreferences/SerializedCouponServices.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://v1_0.promotion.webservices.csx.dtv.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://v1_0.promotion.webservices.csx.dtv.com/" name="SerializedCouponServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://v1_0.promotion.webservices.csx.dtv.com/" schemaLocation="SerializedCouponServices.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="validateCoupons">
<part name="parameters" element="tns:validateCoupons"></part>
</message>
<message name="validateCouponsResponse">
<part name="parameters" element="tns:validateCouponsResponse"></part>
</message>
<message name="RelateProcessingException">
<part name="fault" element="tns:RelateProcessingException"></part>
</message>
<message name="generateNewCoupon">
<part name="parameters" element="tns:generateNewCoupon"></part>
</message>
<message name="generateNewCouponResponse">
<part name="parameters" element="tns:generateNewCouponResponse"></part>
</message>
<message name="generateCouponsForPromotion">
<part name="parameters" element="tns:generateCouponsForPromotion"></part>
</message>
<message name="generateCouponsForPromotionResponse">
<part name="parameters" element="tns:generateCouponsForPromotionResponse"></part>
</message>
<message name="voidCoupons">
<part name="parameters" element="tns:voidCoupons"></part>
</message>
<message name="voidCouponsResponse">
<part name="parameters" element="tns:voidCouponsResponse"></part>
</message>
<message name="redeemCoupons">
<part name="parameters" element="tns:redeemCoupons"></part>
</message>
<message name="redeemCouponsResponse">
<part name="parameters" element="tns:redeemCouponsResponse"></part>
</message>
<portType name="SerializedCouponService">
<operation name="validateCoupons">
<input wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/validateCouponsRequest" message="tns:validateCoupons"></input>
<output wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/validateCouponsResponse" message="tns:validateCouponsResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/validateCoupons/Fault/RelateProcessingException"></fault>
</operation>
<operation name="generateNewCoupon">
<input wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/generateNewCouponRequest" message="tns:generateNewCoupon"></input>
<output wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/generateNewCouponResponse" message="tns:generateNewCouponResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/generateNewCoupon/Fault/RelateProcessingException"></fault>
</operation>
<operation name="generateCouponsForPromotion">
<input wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/generateCouponsForPromotionRequest" message="tns:generateCouponsForPromotion"></input>
<output wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/generateCouponsForPromotionResponse" message="tns:generateCouponsForPromotionResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/generateCouponsForPromotion/Fault/RelateProcessingException"></fault>
</operation>
<operation name="voidCoupons">
<input wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/voidCouponsRequest" message="tns:voidCoupons"></input>
<output wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/voidCouponsResponse" message="tns:voidCouponsResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/voidCoupons/Fault/RelateProcessingException"></fault>
</operation>
<operation name="redeemCoupons">
<input wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/redeemCouponsRequest" message="tns:redeemCoupons"></input>
<output wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/redeemCouponsResponse" message="tns:redeemCouponsResponse"></output>
<fault message="tns:RelateProcessingException" name="RelateProcessingException" wsam:Action="http://v1_0.promotion.webservices.csx.dtv.com/SerializedCouponService/redeemCoupons/Fault/RelateProcessingException"></fault>
</operation>
</portType>
<binding name="SerializedCouponServicePortBinding" type="tns:SerializedCouponService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="validateCoupons">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="generateNewCoupon">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="generateCouponsForPromotion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="voidCoupons">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="redeemCoupons">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RelateProcessingException">
<soap:fault name="RelateProcessingException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="SerializedCouponServiceService">
<port name="SerializedCouponServicePort" binding="tns:SerializedCouponServicePortBinding">
<soap:address location="https://pacrelstg.pacificsunwear.com:8443/soap/PAC/v1_0/SerializedCouponServices"></soap:address>
</port>
</service>
</definitions>